// sass that will be imported into CSS hub styles.scss

// SET SCSS VARIABLES /////////////////////////////////////////////////////////////////////////////
$relativeurl: "/webbed-site";
$pagewidth: 75%; // normal screen
$pagewidth2: 80%; // narrow screen
// $headerheight: 2em;
// $footerheight: 3em;
$sidenavwidth: 200px;

// SCSS FUNCTION TO TOGGLE BACKGROUND COLORS ON OR OFF (I'M A GENIUS) //////////////////////////////////////////
$colortoggle: true;
// $colortoggle: false;

@mixin replace-bgcolor($localcolor, $colortoggle) {
  @if $colortoggle {
    background-color: $localcolor; // use given color when toggle is on
  } @else {
    background-color: transparent; // default color when toggle is off
  }
}

// FONTS /////////////////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@font-face { // set custom font
  font-family: myfont;
  src: url($relativeurl+"/assets/fonts/fullfont.ttf"); // requires leading /, does not accept liquid site.baseurl
}

// LIST OF CLASSES
// current, container, flex
// LIST OF Z-INDEX (higher is on top)
// nav = 5, overlay = 4

// PAGE CSS /////////////////////////////////////////////////////////////////////////////
html {
  @include replace-bgcolor(lightslategrey, $colortoggle);
  height: 100%; // full screen, base for other adjustments including background
}
body {
  // background-color: black; // no include, so it can't be toggled
  background-image: url($relativeurl+"/assets/images/tilesea.png");
  color: turquoise;
  font-family: 'Anonymous Pro', monospace;
  font-size: 125%; // sets base size for em to use
  overflow-y: scroll; // vertical scrollbar always shown
  margin: 0; // full screen
  min-height: 100%; // full screen
}
div.container { // contains all layout elements
  @include replace-bgcolor(transparent, $colortoggle);
  max-width: 80%;
  padding: 20px;
  margin: 0 auto; // center horizontally
}
div.flex {
  @include replace-bgcolor(transparent, $colortoggle);
  display: flex;
}
div {
  @include replace-bgcolor(yellow, $colortoggle); // does not show up with normal markdown
}
main { // page content
  @include replace-bgcolor(purple, $colortoggle);
  width:100%;
}
p {
  @include replace-bgcolor(yellow, $colortoggle);
  margin: 0em; // markdown turns lines (including images) into p
}
.borderimg {
  border: 10px solid transparent;
  padding: 15px;
  border-image: url($relativeurl+"/assets/images/tileflame.png") 20 round; // or stretch. # = how many across
}
ul {
  margin: 0em; // for markdown again
}
h1 {
  @include replace-bgcolor(royalblue, $colortoggle);
  color: salmon;
  font-family: myfont;
  font-size: 2em;
  margin: 0em;
  text-align: center;
}
h2, h3, h4, h5, h6 {
  margin: 0em;
}
img {
  // box-shadow: .5em .5em slateblue;
  margin: 0em;
  vertical-align: bottom;
}

// NAVIGATION, HEADER, FOOTER /////////////////////////////////////////////////////////////////////////////
nav { // horizontal navbar
  @include replace-bgcolor(slateblue, $colortoggle);
  font-size: 1.3em;
  max-width:100%;
  // max-height:50px;
  // height:50px;
  margin-bottom:20px;
  text-align: center;
  // overflow: auto; // scrollbar is only added when necessary
}
aside.sidenav { // side navigation
  @include replace-bgcolor(slateblue, $colortoggle);
  // font-size: 1.3em;
  width: $sidenavwidth;
  margin-right: 20px;
  // overflow: auto; // scrollbar is only added when necessary
  a {
    display: block; // new line, full width
  }
  section:not(:last-child) { // every section besides last one
    margin-bottom: 20px;
  }
  .subtitle {
    color: black;
  }
}
header {
  @include replace-bgcolor(maroon, $colortoggle);
  max-width:100%;
  max-height:150px;
  // height:150px;
  margin-bottom:20px;
  img {
    filter: invert(100%);
  }
}
footer {
  @include replace-bgcolor(darkolivegreen, $colortoggle);
  max-width:100%;
  margin-top: 20px;
}

// LINKS /////////////////////////////////////////////////////////////////////////////
a {
  @include replace-bgcolor(darkgrey, $colortoggle);
  text-decoration: none;
  display: inline-block;
}
a.current { // "current" class for highlighting navigation
    color: limegreen;
}
a:link:not(.current) { // unvisited
 color: white;
}
a:visited:not(.current) { // visited
 color: white;
}
a:hover:not(.current) { // mouse over
 color: gold;
}
a:active:not(.current) { // selected
 color: crimson;
}

// RESPONSIVE SIDENAV /////////////////////////////////////////////////////////////////////////////
// @media screen and (min-width: 901px) { // normal screen
//   nav {
//     display: block;
//   }
//   div.content {
//     margin-left: $sidenavwidth;
//   }
//   div.header {
//     display: none;
//   }
// }
// @media screen and (max-width: 900px) { // narrow screen
//   nav {
//     display: none;
//   }
//   div.content {
//     padding-top: $headerheight;
//     margin-left: 0px;
//   }
//   body {
//     width: $pagewidth2;
//   }
//   div.header {
//     display: block;
//     width: $pagewidth2;
//   }
// }
