// sass that will be imported into CSS hub styles.scss

// FONTS /////////////////////////////////////////////////////////////////////////////
@import url('https://fonts.googleapis.com/css2?family=Slabo+13px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@font-face { // set custom font
  font-family: myfont;
  src: url(/webbed-site/assets/fonts/fullfont.ttf); // requires leading /, does not accept site.baseurl
}

// LIST OF CLASSES /////////////////////////////////////////////////////////////////////////////
// current, content

// SET SCSS VARIABLES /////////////////////////////////////////////////////////////////////////////
$footerheight: 3em;
$sidebarwidth: 200px;

// SCSS FUNCTION TO TOGGLE BACKGROUND COLORS ON OR OFF (I'M A GENIUS) //////////////////////////////////////////
$colortoggle: true;
// $colortoggle: false;

@mixin replace-bgcolor($localcolor, $colortoggle) {
  @if $colortoggle {
    background-color: $localcolor; // use given color when toggle is on
  } @else {
    background-color: transparent; // default color when toggle is off
  }
}

// NAVIGATION + FOOTER /////////////////////////////////////////////////////////////////////////////
nav { // topnav and sidenav
  @include replace-bgcolor(slateblue, $colortoggle);
  font-size: 1.3em;
  width: $sidebarwidth;
  position: fixed;
  height: 100%;
  overflow: auto; // scrollbar is only added when necessary
  a {
    display: block; // new line, full width
    text-decoration: none;
  }
  a.current { // "current" class for highlighting navigation
      color: limegreen;
  }
}

.navbutton {
  @include replace-bgcolor(hotpink, $colortoggle);
  width: 50px;
  height: 50px;
  // display: block;
  // position: fixed;
  filter: invert(100%);
  border-radius: 50%;
}

.w3-overlay {
  position:fixed;
  display:none;
  width:100%;
  height:100%;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:
  rgba(0,0,0,0.5);
  z-index:2
}

// RESPONSIVE SIDENAV
@media screen and (max-width: 500px) { // medium size
  // .sidebar {
  //   width: 100%;
  //   height: auto;
  //   position: relative;
  // }
  // .sidebar a {float: left;}
  // div.content {margin-left: 0;}
}

footer {
  @include replace-bgcolor(darkolivegreen, $colortoggle);
  height: $footerheight;
  position: absolute;
  bottom: 0em; // at bottom of container
  img {
    @include replace-bgcolor(steelblue, $colortoggle);
    position: absolute;
    height: 100%;
    box-shadow: none;
  }
}

// PAGE CSS /////////////////////////////////////////////////////////////////////////////
html {
  @include replace-bgcolor(lightslategrey, $colortoggle);
  font-size: 125%; // sets base size for em to use
  // footer adjustments
  height: 100%; // base for other adjustments
}
body {
  background-color: black; // cannot be toggled
  color: turquoise;
  font-family: 'Anonymous Pro', monospace;
  // footer adjustments
  min-height: 100%;
  position: relative;
  padding-bottom: $footerheight; // prevent content/footer overlap
  margin-bottom: -$footerheight; // bring bottom of page up to footer
}
div.content { // everything besides sidebar
  @include replace-bgcolor(maroon, $colortoggle);
  margin-left: $sidebarwidth;
  height: 100%;
}
div {
  @include replace-bgcolor(yellow, $colortoggle); // does not show up with normal markdown
}
p {
  @include replace-bgcolor(yellow, $colortoggle);
  margin: 0em; // markdown turns lines (including images) into p
}
ul {
  margin: 0em; // for markdown again
}
h1 {
  @include replace-bgcolor(royalblue, $colortoggle);
  color: salmon;
  font-family: myfont;
  font-size: 2em;
  margin: 0em;
}
h2, h3, h4, h5, h6 {
  margin: 0em;
}
img {
  // box-shadow: .5em .5em slateblue;
  margin: 0em;
  vertical-align: bottom;
}

// LINKS + EXCLUDING LINKS WITH "CURRENT" CLASS /////////////////////////////////////////////////////////////////////////////
a {
  @include replace-bgcolor(darkgrey, $colortoggle);
  // text-decoration: none;
}
a:link:not(.current) { // unvisited
 color: white;
}
a:visited:not(.current) { // visited
 color: white;
}
a:hover:not(.current) { // mouse over
 color: gold;
}
a:active:not(.current) { // selected
 color: crimson;
}
